:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}
h2, h4 {
  color: gold;
  font-family: starFont, serif;
}
h4 {
  text-align: left;
  margin-bottom: 15px;
}

.films, .residents {
  width: 90%;
  margin: 1em;
}
