<div *ngIf="dataSource.data.length !==0 " class="tab-content scrollbar scrollbar-primary box-shadow">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <th mat-header-cell [width]="'100px'" *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let film"> {{film.title}} </td>
    </ng-container>
    <ng-container matColumnDef="episode_id">
      <th mat-header-cell *matHeaderCellDef> Episode ID </th>
      <td mat-cell *matCellDef="let film"> {{film.episode_id}} </td>
    </ng-container>
    <ng-container matColumnDef="opening_crawl">
      <th mat-header-cell *matHeaderCellDef> Opening Crawl</th>
      <td mat-cell *matCellDef="let film"> {{film.opening_crawl}} </td>
    </ng-container>
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Director </th>
      <td mat-cell *matCellDef="let film"> {{film.director}} </td>
    </ng-container>
    <ng-container matColumnDef="release_date">
      <th mat-header-cell [width]="'100px'" *matHeaderCellDef> Release Date</th>
      <td mat-cell *matCellDef="let film"> {{film.release_date}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
<div *ngIf="dataSource.data.length === 0">
  <h5>This planet did not participate in any film.</h5>
</div>
