:host {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}
.mat-progress-bar{
  width: 90%;
}
h1 {
  color: gold;
  margin: 0.50em;
}
