:host {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}
.mat-progress-bar{
   width: 90%;
}
h1 {
  color: gold;
  margin: 0.50em;
  font-family: starFont, serif;
}
h5 {
  color: red;
  margin-bottom: 15px;
}
.error {
  background: rgba(71, 75, 93, 0.95);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 9px 3px red;
}
