:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.mat-table {
  background: none;
}
.tab-content, .mat-progress-bar, .input-holder {
  width: 90%;
}

input[type=text] {
  background-color: rgba(47, 49, 54, 0.79);
  color: aliceblue;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #f6f6f6;
  float: left;
  width: 20%;
  min-width: 200px;
  margin-bottom: 15px;
  border-radius: 10px;
}
input[type=text]:focus{
  outline: none;
}
.tab-content {
  max-height: 600px;
  overflow: auto;
  border-radius: 10px;
}
.box-shadow {
  box-shadow: 0 0 9px 3px gold;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgba(71, 75, 93, 0.81);
  border-radius: 20px;
}
.mat-paginator {
  border-radius: 10px;
  color: aliceblue;
  background: rgba(71, 75, 93, 0.81);
  margin-top: 10px;
  width: 90%;
}
/deep/ .mat-select-value-text, /deep/ .mat-option-text {
  color: aliceblue !important;
}
/deep/ .mat-select-panel {
  background: rgb(71, 75, 93);
  color: aliceblue;
}

table {
  border-collapse: collapse;
  width: 100%;

}
table td {
  background-color: rgba(119, 132, 188, 0.8);
}
table td, table th {
  border: 1px solid rgba(240, 248, 255, 0.71);
  padding: 8px;
  font-size: 95%;
}
table tr:hover {
  background-color: rgba(164, 177, 238, 0.8);
}
table td:first-child {
   background-color: rgba(144, 238, 144, 0.55);
   font-weight: bold;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  background: rgba(71, 75, 93, 0.95);
}

